body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

#session-label,
#break-label,
#timer-label {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 2em;
}

.App button {
  background-color: #3a5dbe;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all .4s ease-in-out;
  line-height: 100%;
}

.App button:hover {
  background-color: #1a3580;
}

#time-left {
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: 1.5rem;
}

.break,
.session {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em 2em;
  align-items: center;
  font-size: 1.25rem;
}

.control button {
  width: 220px;
  margin: 1em 0;
}

#reset {
  background-color: transparent;
  border: 1px solid #3a5dbe;
  color: #3a5dbe;
}

#start_stop {
  background-color: #3abe75;
}
#start_stop:hover {
  background-color: #187944;
}

#beep {
    display: none;
  }
  